<mat-list>
  <h3 mat-subheader>List of all employees</h3>
  <div class="controls">
    <mat-form-field class="example-full-width">
      <input id="filter-by-input" matInput placeholder="Filter by: Name " (keyup)="filterBy($event)" />
    </mat-form-field>
    <mat-checkbox [checked]="isChecked" (change)="sortByProp($event)">Sort By ID</mat-checkbox>
  </div>


  <mat-list-item *ngFor="let employee of list | employeeFilter: filterByName | sortBy : sortby"
    [ngClass]="{'selected': selected === employee.id}" [routerLink]="getRouterLink(employee)">
    <h4 mat-line>{{employee.id}}. {{employee.firstname}}</h4>
    <span class="spacer"></span>
    <span>
      <img src="assets/icons/baseline-navigate_next-24px.svg">
    </span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
