.spacer {
  flex: 1 1 auto;
}

.selected{
  background-color: #c1fdff;
}

.selected:hover{
  background-color: #e2e2e2;
}

.example-full-width {
  width: 100%;
}

.controls{
  display: flex;
  flex-grow: 1;
}